@mixin dropdownShadow {
  -webkit-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
}

@mixin loginBtnShadowDefault {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@mixin loginBtnShadowHover {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@mixin servicesCardShadow {
  -webkit-box-shadow: 8px 8px 10px rgba($lavender-primary, $alpha: 0.15);
  -moz-box-shadow: 8px 8px 10px rgba($lavender-primary, $alpha: 0.15);
  -ms-box-shadow: 8px 8px 10px rgba($lavender-primary, $alpha: 0.15);
  -o-box-shadow: 8px 8px 10px rgba($lavender-primary, $alpha: 0.15);
  box-shadow: 8px 8px 10px rgba($lavender-primary, $alpha: 0.15);
}
