// Primary Colors
$lavender-primary: #6967ce;
$charcoal: #212020;
$white: #fff;
$pink: #b84592;

// Secondary Colors
$grey-white: #eeeeee;
$grey: #929292;
$dark-grey: #5f5f5f;
$off-grey: #dddddd;
$heading-grey: #333;
$paragraph-grey: #777;

// Card Colors
$card-pink: #ff4f81;
$card-blue: #00aeff;
$card-green: #2dde97;
$card-orange: #fe4f00;

// Footer Colors
$footer-bright-grey: #aaa;
